.p1 table{
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:20px;
	width:100%;
	text-align:center;
}
body{	
	background-image:url("b11.jpg");
	height:100%;
	background-position:center;
	background-attachment:fixed;
	background-position:top 0px;
	background-repeat:no-repeat;
	background-size:cover;
	
}